$color-primary1: #ebebf4;
$color-primary2: #b8badb;
$color-primary3: #94dbf1;
$color-secondary1: #deb0c9;
$color-secondary2: #1c1c58;
$color-secondary3: #9e98ab;
$color-tertiary1: #7376aa;
$color-tertiary2: #ce94af;
